<ion-content>
	<app-header></app-header>
	<ion-toolbar>
		<ion-title>
			<div class="header-for-light">
				<h1 class="wow fadeInRight animated" data-wow-duration="1s">Login in your <span>Account</span></h1>
			</div>
		</ion-title>
	</ion-toolbar>
	<ion-toolbar *ngIf="message">
		<ion-title class="message">
			<h3>{{message}}</h3>
		</ion-title>
	</ion-toolbar>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Login</ion-card-title>
			<ion-card-subtitle>Please login using your existing account</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<form [formGroup]="form">
				<ion-item>
					<ion-label position="floating">Username</ion-label>
					<ion-input formControlName="username"></ion-input>
					<div *ngIf="username.touched && username.invalid">
						<div *ngIf="username.errors?.required">Username is required</div>
					</div>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Password</ion-label>
					<ion-input formControlName="password"></ion-input>
					<div *ngIf="password.touched && password.invalid">
						<div *ngIf="password.errors?.required">Password is required</div>
					</div>
				</ion-item>
				<ion-button color="danger" type="submit" [disabled]="form.invalid" (click)="login()">Login</ion-button>
				<ion-button color="danger" [routerLink]="['/forgot-password']">Reset Password</ion-button>
			</form>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-card-title>Create new account</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item>
				Registration allows you to avoid filling in billing and shipping forms every time you
				checkout on this website.
			</ion-item>
			<ion-button expand="block" color="danger" [routerLink]="['/register']">Register</ion-button>
		</ion-card-content>
	</ion-card>

	<app-footer></app-footer>
</ion-content>