<ion-content>
    <app-header></app-header>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reset Password</ion-card-title>
        <ion-card-subtitle>Please provide your account details</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username"></ion-input>
            <div *ngIf="username.touched && username.invalid">
              <div *ngIf="username.errors?.required">Username is required</div>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input formControlName="password"></ion-input>
            <div *ngIf="password.touched && password.invalid">
              <div *ngIf="password.errors?.required">Password is required</div>
            </div>
          </ion-item>
          <ion-button color="secondary" type="submit" [disabled]="form.invalid" (click)="changePassword()">Reset Password</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  
    <app-footer></app-footer>
  </ion-content>