<app-header></app-header>
<ion-content>
		<h3>{{ article?.name }}</h3>
		<ion-card>
				<img id="product-zoom" [src]="article?.image_path" data-zoom-image="article?.image_path" alt="">
				<ion-card-content>
				<p>Description: {{ article?.description }}</p>
				<p>Category: {{ article?.category }}</p> 
				<p>Price: ${{ article?.price }}</p> 
				<ion-button  color="secondary" (click)="visitProfile()"> {{ article?.seller }} </ion-button> 
				</ion-card-content>
			  </ion-card>
			  <ion-button color="secondary" *ngIf="!existInWishlist" (click)="addToWishlist()" class="shoping" style="cursor:pointer;">
				Add to Wish List 
		   </ion-button>
		   <ion-button color="secondary" *ngIf="existInWishlist" (click)="addToWishlist()" >
			   Product Added in Wish List
		   </ion-button>
</ion-content>
<app-footer></app-footer>