<ion-content>
  <app-header></app-header>
  <ion-spinner *ngIf="showSpinner"></ion-spinner>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Post Product</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form">
        
     

        <ion-item>
          <ion-label position="floating">Product Name</ion-label>
          <ion-input formControlName="name" name="productName" id="productName"
           ></ion-input>
          <div *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors?.required">Product name is required</div>
          </div>
        </ion-item>
        
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select name="category" formControlName="category_id">
              <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
            </ion-select>
            <div *ngIf="category_id.touched && category_id.invalid">
              <div *ngIf="category_id.errors?.required">Category is required</div>
            </div>
      </ion-item>

				 <ion-item>
          <ion-label>Condition</ion-label>
          <ion-select name="condition" id="condition" placeholder="Select from dropdown" formControlName="condition">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
						<ion-select-option value="3">3</ion-select-option>
						<ion-select-option value="4">4</ion-select-option>
						<ion-select-option value="5">5</ion-select-option>
          </ion-select>
           <div *ngIf="condition.touched && condition.invalid">
                <div *ngIf="condition.errors?.required">Condition is required</div>
           </div>
        </ion-item>

				
					
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea formControlName="description" name="description" id="description" 
            id="description"></ion-textarea>
            <div *ngIf="price.touched && price.invalid">
              <div *ngIf="price.errors?.required">Price is required</div>
        </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Price</ion-label>
          <ion-input type="number" formControlName="price" name="price" id="price" min="0"  id="price"></ion-input>
          <div *ngIf="description.touched && description.invalid">
            <div *ngIf="description.errors?.required">Description is required</div>
          </div>
        </ion-item>

        
				<hr>
         
          <div class="form-group">
            <label class="col-sm-3 control-label">Upload Image:</label>
            <div class="col-sm-3">
              <input type="file" class="form-control" id="inputfile" class="inputfile" name="single" ng2FileSelect
                [uploader]="uploader" />
            </div>
          </div>
          <hr>
				
        
        <ion-button expand="block"  color="secondary" type="submit" [ngStyle]="{'cursor': form.invalid ? 'not-allowed' : 'pointer'}"
          type="submit" [disabled]="form.invalid" (click)="post()">Post Product</ion-button>
      </form>
    </ion-card-content>
  </ion-card>



  <app-footer></app-footer>
</ion-content>