<app-header></app-header>

<ion-content>

  <div class="container">
              
  <h1 class="wow fadeInRight animated" data-wow-duration="1s">Post <span>Product</span></h1>
  <h3 *ngIf="message" class="message">{{message}}</h3>

  <form [formGroup]="form" class="form-horizontal">
  <ion-list>


    <ion-item>
      <ion-input placeholder="Product Name" formControlName="name" name="productName" id="productName" clearInput></ion-input>
      <div *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors?.required">Name is required</div>
        </div>
    </ion-item>

    <ion-item>
        <ion-label>Category</ion-label>
         <select name="category" formControlName="category_id" class="form-control">
            <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
          </select>
    </ion-item>

    <ion-item>
        <ion-label>Condition</ion-label>
    <select name="condition" id="condition" formControlName="condition" class="form-control">
        <option *ngFor="let num of [1,2,3,4,5]" [value]="num">{{num}}</option>
      </select>
      <div *ngIf="condition.touched && condition.invalid">
        <div *ngIf="condition.errors?.required">Condition is required</div>
      </div>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Price" formControlName="price" name="price" id="price" min="0"  id="price"></ion-input>
      <div *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors?.required">Price is required</div>
        </div>
    </ion-item>


    <ion-item>
      <ion-textarea placeholder="Enter a description" formControlName="description" name="description" id="description"  id="description"></ion-textarea>
      <div *ngIf="description.touched && description.invalid">
          <div *ngIf="description.errors?.required">Description is required</div>
        </div> 
    </ion-item>
 

  <ion-item>
      <input type="file" class="form-control" id="inputfile" class="inputfile" name="single" ng2FileSelect [uploader]="uploader" />
  </ion-item>

</ion-list>
  <ion-button color="secondary"  
      type="submit"
      (click)="post()" 
      [ngStyle]="{'cursor': form.invalid ? 'not-allowed' : 'pointer'}"
      style="width:100%">
      Post Product
</ion-button>
</form>


          </div> 
        
    
   
</ion-content>
<app-footer></app-footer>
