<app-header></app-header>
<ion-content>

    <ion-card>
  
      <img src="assets/img/avatar.jpg"/>
  
      <ion-card-content>
        <ion-card-title>
            {{user['profile']['name']}}
        </ion-card-title>
        
      </ion-card-content>
  
      <ion-item>
        <ion-icon name='home' item-start style="color:red"></ion-icon>
        {{user['profile']['address']}}
      </ion-item>
  
      <ion-item>
          <ion-icon name="call" item-start style="color:red"></ion-icon>
        {{user['profile']['mobile_number']}}
      </ion-item>
  
    </ion-card>
  </ion-content>



<app-footer></app-footer>