// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* You can add global styles to this file, and also import other style files */

.fixed {
  position: absolute;
  bottom: 0 !important; 
  width: 100% !important;
}

.message {
  background: rgba(255, 0, 0, 0.7);
  color: white;
  padding:10px;
  border-radius: 10px;
}

.set-height {  
  margin-bottom: 122px;
}