<app-header></app-header>
<ion-content>
	<h3>Fulda Buy & Sell</h3>
	<img src="../../assets/img/ecommerce.jpg" class="img-responsive">


	<div class="cards-bg social-cards">

		<h3 class="wow fadeInRight animated" data-wow-duration="1s">Latest <span>Products</span></h3>
		<h3 *ngIf="!articles.length">No products</h3>
		<ion-card *ngFor="let article of articles" class="col-md-3 text-center" (click)="productDetails(article._id)">

			<ion-item>
				<h4>{{ article.name}}</h4>
			</ion-item>

			<img [src]="article.image_path" class="img-responsive" alt="">

			<ion-card-content>
				<p>{{ article.description }}</p>
			</ion-card-content>

			<ion-row>
				<ion-col>
					<div>Price: $ {{ article.price }}</div>
				</ion-col>
				<ion-col>
					<div>Category: {{ article?.category }}</div>
				</ion-col>


			</ion-row>

		</ion-card>

	</div>
	<ion-button color="secondary" (click)="allProducts()">
		All Products
	</ion-button>
	<app-footer></app-footer>
</ion-content>