<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button [routerLink]="['']">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Admin Panel
        <span>
          <h5 style="color:white"><b>{{ isUserActive ? 'Users' : 'Products' }} List</b></h5>
        </span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="row">
    <div class="col-md-12">
      <h3 *ngIf="message"> {{ message }} </h3>
    </div>
  </div>


  <ion-card *ngFor="let record of activeLayer; let x = index">
    <ion-card-header>
      <ion-card-title>{{ isUserActive ? record.username : record.name }}</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label>
        <ion-col><b>ID</b></ion-col>
        <ion-col>{{x + 1}}</ion-col>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="isUserActive">
      <ion-label>
        <ion-col>Role</ion-col>
        <ion-col>{{ record.role }}</ion-col>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-col>{{ isUserActive ? 'Email' : 'Condition' }}</ion-col>
        <ion-col>{{ isUserActive ? record.email : record.condition}}</ion-col>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!isUserActive">
      <ion-label>
        <ion-col>Price</ion-col>
        <ion-col>{{record.price}}</ion-col>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!isUserActive">
      <ion-label>
        <ion-col>{{ isUserActive ? 'Password' : 'Status' }}</ion-col>
        <ion-col>{{ record.approved ? 'Approved' : 'Unapproved' }}</ion-col>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-col>Action</ion-col>
        <ion-col>
          <a *ngIf="!isUserActive" style="cursor: pointer" (click)="action(record)">{{ record &&
            record?.approved ? 'Unapprove' : 'Approve' }}</a>
          &nbsp;&nbsp;
          <a style="cursor: pointer" (click)="delete(record._id)">Delete</a></ion-col>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>


<ion-tab-bar slot="bottom">
  <ion-tab-button tab="products" (click)="activeLayer = products; isUserActive = false">
    <ion-label>Products</ion-label>
    <ion-icon name="filing"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="users" (click)="activeLayer = users; isUserActive = true">
    <ion-label>Users</ion-label>
    <ion-icon name="people"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>